.contact-form {
  width: 340px;
  height: 620px;
  background: #000034;
  border-radius: 8px;
  box-shadow: 0 0 3px 3px #000034;
  margin-top: -80px;
  padding: 2rem;
}

.contact-form h2 {
  margin-bottom: 12px;
}
.contact-form input {
  width: 100%;
  margin: 12px 0;
  line-height: 2.5;
  color: #ffffff;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  transition: all 0.3s;
  border-bottom: 2px solid #ffffff;
}
.contact-form input:focus {
  background: #ffffff;
}

.contact-form textarea {
  width: 100%;
  margin: 12px 0;
  line-height: 2.5;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  transition: all 0.3s;
  border-bottom: 2px solid #ffffff;
}
.contact-form textarea:focus {
  background: #ffffff;
}

.contact-form label {
  color: #ff6584;
}
.btn--wide {
  padding: 12px 64px;
  font-size: 20px;
}

.yellow {
  background: #ffc928;
  color: #000034;
  border: none;
}
.yellow:hover {
  border-bottom: 4px solid #ff6584;
  border-radius: 0px;
}

@media screen and (max-width: 360px) {
  .contact-form {
    width: 290px;
  }
}
