.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px;
  background-color: #000034;
  color: #ffffff;
}

.contact-form label {
  margin: 12px auto;
}
