.contact-form {
  width: 80%;
  height: 650px;
  background: #000034;
  border-radius: 8px;
  box-shadow: 0 0 3px 3px #000034;
  padding: 2rem;
  margin: auto;
}

.contact-form h2 {
  margin-bottom: 1rem;
}
.contact-form input,
textarea {
  width: 95%;
  margin: 12px 0;
  line-height: 2.5;
  color: #000034;
  background: #ffffff;
  outline: none;
  border: 0;
  transition: all 0.3s;
  border-radius: 4px;
  padding-left: 6px;
}
.contact-form input:focus,
textarea:focus {
  box-shadow: 0 0 3px 3px #ffffff;
}

.contact-form label {
  color: #ff6584;
  margin-top: 4px;
}
.btn--wide {
  padding: 12px 64px;
  font-size: 20px;
  border-radius: 4px;
}

.yellow {
  background: #ffc928;
  color: #000034;
  border: none;
  width: inherit;
}
.yellow:hover {
  border-bottom: 4px solid #ff6584;
  border-radius: 0px;
}

@media screen and (max-width: 820px) {
  .btn--wide {
    width: 100%;
  }
}

@media screen and (max-width: 720px) {
  .contact-form {
    width: 100%;
  }
}
